$color: rgb(5, 16, 116);
$colorR: rgb(230, 222, 222);
$height: 100vh;
$b-radius: 20px;

.errorcard{
    
    color: $color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $height;
    text-align: center;
}

.errorcard {

    a {
        background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
      }

    a:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
}