.main-nav-div{
    width: 100%;
    height: 8vh;
    background-color: antiquewhite;
    justify-content: end;
    align-items: center;
}
.inner-nav-div{
    width: 30%;
    justify-content: space-evenly;
}
